#flex{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
} 
body{
    background-color: #7a3fa3;
    border: 0;
}

h2{
    color: #ebceef;
}

#calen{
    width: 100px;
    height: 50px;
    background-color: #ebceef;
}
